<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>크래프톤 정글 7팀</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="/static/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="/static/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/static/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/static/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/static/skydash/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/skydash/images/favicon.png" />

    <!-- 스와핑 -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css'>
    <link rel="stylesheet" href="/static/swapping/css/swapping.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
        /* Left Modal Styles */
.modal.left .modal-dialog {
    position: absolute;
    margin: auto;
    width: 300px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

/*Left Modal Animation Styles*/
.modal.left.fade .modal-dialog {
    left: -300px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center" style="width: 100%;padding-left: 0px;padding-right: 0px;">
            <div style="width: 33%;"></div>
            <div class="d-flex align-items-center justify-content-center" style="width: 33%;"><img src="../static/img/jungle_til.png" alt="page logo" style="height: 50px;"></div>
            <div class="d-flex align-items-center justify-content-end" style="width: 33%;">
                <span style="margin-right: 15px;" id="user_state" user_id="{{user.user_id}}">{{user.user_name}} 님</span>
                    <span id="unreadMessagesIcon" style="cursor: pointer; position: relative; margin-right: 15px;">
                        <i class="fas fa-envelope"></i>
                        <span id="unreadCount" style="position: absolute; top: -5px; right: -10px; background-color: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px;">0</span>
                    </span>
                <button class="btn btn-primary" onclick="logout()">로그아웃</button>
            </div>
        </div>


<!--        <div class="navbar-menu-wrapper col-lg-4"></div>-->
<!--        <div class="logo navbar-menu-wrapper col-lg-4 d-flex align-items-center justify-content-end">-->
<!--            <img src="../static/img/jungle_til.png" alt="page logo" style="height: 50px;">-->
<!--        </div>-->
<!--&lt;!&ndash;         d-flex align-items-center justify-content-end &ndash;&gt;-->
<!--        <div class="navbar-menu-wrapper col-sm-4 d-flex align-items-center justify-content-end" style="padding-left: 0px; padding-right: 15px;">-->
<!--            <span style="margin-right: 15px;">사용자 명</span>-->
<!--            <button class="btn btn-primary">로그아웃</button>-->
<!--        </div>-->
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col grid-margin">
                        <div class="row">
                            <div class="col col-xl-4"></div>
                            <div class="col col-xl-4" style="display: flex; justify-content: center;align-items: center;">
                                <h3 class="font-weight-bold">기간별 포스팅 랭킹</h3>
                            </div>
                            <div class="col col-xl-4">
                                <div class="justify-content-end d-flex">
                                    <div style="display: flex;">
                                        <label style="width: 90px; display: flex; align-items: center; justify-content: center; margin: 0px;">작성월</label>
                                        <input type="month" class="form-control" id="SearchWriteMonth" onchange="ChangeSearchMonth($('#SearchWriteMonth').val());">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card" >
                        <div class="card tale-bg" >
                            <div class="card-people mt-auto" style="padding-top: 40px;">
                                <div class="wrapper">

                                    <section class="module-team">

                                        <div class="team">
                                            <div class="team-cards">

                                                <!-- Slider main container -->
                                                <div class="swiper-container" style="padding: 0px; margin: 0px;">
                                                    <!-- Additional required wrapper -->
                                                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);;"></div>

                                                </div>

                                                <div class="swiper-pagination"></div>
                                                <!-- If we need navigation buttons -->
                                                <div class="navigation" style="top: 155px;">
                                                    <div class="swiper-button-prev"></div>
                                                    <div class="swiper-button-next"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </section>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <!--          이날의 포스팅-->
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 mb-4 mb-xl-0" style="display: flex; justify-content: center;">
                                <h3 class="font-weight-bold">이날의 포스팅</h3>
                            </div>
                            <div class="col-12">
                                <div class="justify-content-end d-flex">
                                    <div style="display: flex;">
                                        <label style="width: 90px; display: flex; align-items: center; justify-content: center; margin: 0px;">작성일</label>
                                        <input type="date" class="form-control" id="InputSearchDate" onchange="ChangeSearchDate($('#InputSearchDate').val(),$('#SelectSearchUser').val())">
                                    </div>
                                    <div style="display: flex; margin-left: 15px;">
                                        <label style="width: 90px; display: flex; align-items: center; justify-content: center; margin: 0px;">작성자</label>
                                        <select id="SelectSearchUser" class="form-control" onchange="ChangeSearchDate($('#InputSearchDate').val(),$('#SelectSearchUser').val())">
                                            <option>모두</option>
                                            {% for user in user_list %}
                                            <option>{{ user.user_id }}</option>
                                            {% endfor %}
                                        </select>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">게시물 목록</h4>
                            <!--                            <p class="card-description">-->
                            <!--                                검색결과 표출?-->
                            <!--                            </p>-->
                            <div class="table-responsive">
                                <table id="PostTable" class="table table-hover" style="table-layout: fixed;">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">크래프톤 정글 7조</span>
                </div>
                <!--                <div class="d-sm-flex justify-content-center justify-content-sm-between">-->
                <!--                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span>-->
                <!--                </div>-->
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/skydash/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/static/skydash/vendors/chart.js/Chart.min.js"></script>
<script src="/static/skydash/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/static/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/static/skydash/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/static/skydash/js/off-canvas.js"></script>
<script src="/static/skydash/js/hoverable-collapse.js"></script>
<script src="/static/skydash/js/template.js"></script>
<script src="/static/skydash/js/settings.js"></script>
<script src="/static/skydash/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/skydash/js/dashboard.js"></script>
<script src="/static/skydash/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->

<!--  스와핑-->

<!-- <script src='/static/swapping/js/swapping.js'></script> -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js'></script>

<script>

    user_id = $('#user_state').attr('user_id')

        function logout(){
            $.ajax({
                type: "POST", // 요청 방식
                url: "/logout", // 서버 URL
                data: { },//데이터 필요없음
                success: function(response) {
                    // ; 앞까지 해당하는 이름을 가진 쿠키의 max-age(유효기간)를 0으로 만들어 삭제되게 함
                    document.cookie = "Authorization="+response['access_token']+"; max-age=0";
                    location.href = '/login';
                }
            })
        }

    function fighting_modal(post_url){
        $("#fightingModal").modal('show');
        $("#fightingModal").attr('post_url', post_url)
    }

    function submitSupport() {
        let message = $("#supportMessage").val();

        if (!message) {
            alert("메시지를 입력해주세요!");
            return;
        }
        
        post_url = $("#fightingModal").attr('post_url')
        $.ajax({
            type: "POST",
            url: "/api/fight",
            data: {'message': message, 'post_url':post_url , 'user' : user_id },
            success: function(response) {
                
            },
        })
        // 여기에 응원 메시지를 처리하는 로직을 추가할 수 있습니다.
        console.log("응원 메시지:", message);

        // 모달 닫기
        $("#fightingModal").modal('hide');
    }

    function showSupportMessages(post_url) {
        $.ajax({
            type: "GET",
            url: "/api/fight",
            data: {'post_url': post_url},
            success: function(response) {
                if (response['result'] != 'success') {
                    alert('응원 메시지를 가져오는 데 실패했습니다!')
                    return;
                }
                
                let messages = response['message'];
                let messagesList = $('#supportMessagesList');
                messagesList.empty(); // 기존 리스트 삭제

                for(let message of messages) {
                    let cardTemplate = `
                    <div class="card mb-2">
                        <div class="card-header">
                            <strong>${message['user']}</strong>
                        </div>
                        <div class="card-body">
                            <p class="card-text">${message['message']}</p>
                        </div>
                    </div>`;
                    messagesList.append(cardTemplate);
                }

                // 모달을 보여줍니다.
                $("#supportMessagesModal").modal('show');
            },
        });
    }

    



    ////////스와핑
    var team;
    var swiperWrapper = document.querySelector('.swiper-wrapper');
    // var swiperWrapper = $('.swiper-wrapper');

    var iWebsite = "https://rafaelalucas.com/dailyui/6/assets/link.svg";
    ///////스와핑

    let today = new Date();
    console.log('today='+today);
    let year = today.getFullYear(); // 년도
    let month = today.getMonth() + 1;  // 월
    let day = ('0' + today.getDate()).slice(-2);

    let TodayDate = (year + '-' + month + '-' + day);
    let TodayMonth = (year + '-' + month);

    let SearchDate = TodayDate;
    let SearchUser = '모두';

    let SearchYearNMonth = TodayMonth;

    //기본값 오늘로 설정
    $('#InputSearchDate').val(TodayDate);
    $('#SearchWriteMonth').val(TodayMonth);

    $(document).ready(function () {
        //검색 요일(작성일)에 맞는 리스트 가져옴
        show_list(SearchDate, SearchUser);

        //사용자 읽어오기
        // show_user_list();
        show_rank(SearchYearNMonth);


    });


    function append_html(ID,text){ //붙여넣을 테이블 또는 select id
        $("#"+ID).empty();
        $("#"+ID).append(text);
    }

    function make_table(Data, fight){


        console.log(fight)
        var text=`<thead><tr><th style="width: 29%;">제목</th><th style="width: 30%;">링크</th>
                <th style="width: 10%;">작성자 ID</th><th style="width: 10%;">작성일</th> <th>응원하기</th> <th>펼치기</th>  </tr></thead>`;
        if(Data[0]=='undefined' | Data.length==0){
            text+="<tbody><tr><td>데이터 없음</td></tr></tbody>";
        }else{
            text+=`<tbody>`;
            for(var i=0;i<Data.length;i++){
                text+=`<tr>`;
                text+=`<td style="overflow:hidden; white-space : nowrap;text-overflow: ellipsis;">${Data[i]['post_title']}</td>`;
                text+=`<td style="overflow:hidden; white-space : nowrap;text-overflow: ellipsis;"><a href="${Data[i]['post_url']}" target="_blank">${Data[i]['post_url']}</a></td>`;
                text+=`<td style="overflow:hidden; white-space : nowrap;text-overflow: ellipsis;">${Data[i]['user_id']}</td>`;
                text+=`<td style="overflow:hidden; white-space : nowrap;text-overflow: ellipsis;">${Data[i]['post_date']}</td>`;
                text += `<td> 
                            <button class="btn btn-outline-primary" onclick="fighting_modal('${Data[i]['post_url']}')" style="padding:10px">
                                <i class="fas fa-heart"></i> 응원!
                            </button>
                        </td>`;
                text += `<td> 
                            <button class="btn btn-outline-info" onclick="showSupportMessages('${Data[i]['post_url']}')" style="padding:10px">
                                <i class="fas fa-eye"></i> 펼치기!(${fight[Data[i]['post_url']] ?? '0'})
                            </button>
                        </td>`;
                text+=`</tr>`;
            }
            text+=`</tbody>`;
        }
        // console.log("text="+text);
        return text;

    }
    function make_select(Data){
        var text=`<option selected>모두</option>`;
        for(var i=0;i<Data.length;i++){
            //{'_id': ObjectId('6526848b47ac657cae9f14a9'), 'user_id': 'test2',
            // 'user_password': 'password1', 'user_gender': 'M',
            // 'user_birth': '1990-01-01', 'user_url': 'https://study4silver.tistory.com/',
            // 'user_lastpost': '', 'user_name': '전상하'}
            text+=`<option>${Data[i]['user_id']}</option>`;

        }
        return text;
    }


    function show_list(SearchDate, SearchUser){
        $.ajax({
            type: "GET",
            url: "/api/list",
            data: {'searchdate': SearchDate, 'searchuser':SearchUser},
            success: function(response) {
                if (response['result'] != 'success') {
                    alert(SearchDate + ' 검색 실패!')
                    return
                }

                let posts = response['post_list']
                //{_id: '6526848b47ac657cae9f14ac',
                // post_title: '[Python] @dataclass로 파이썬 클래스 마스터하기',
                // post_url: 'https://datasciencebeehive.tistory.com/4',
                // user_id: 'test2', post_date: '2023-10-12'}
                let fight = response['fight']

                let text = make_table(posts, fight);
                // console.log('text='+text);
                append_html("PostTable",text);
            },
        })
    }


    function show_rank(InputYearNMonth){
        $.ajax({
            type: "GET",
            url: "/api/list/rank",
            data: {'searchyearnmonth': InputYearNMonth},
            success: function(response) {
                if (response['result'] != 'success') {
                    alert(SearchYearNMonth + ' 랭크 검색 실패!')
                    return
                }

                let posts = response['post_rank'];
                team = input_team_data(posts);
                addTeam(team);

                var mySwiper = new Swiper(".swiper-container", {
                    // Optional parameters
                    direction: "horizontal",
                    loop: false,
                    centeredSlides: false,
                    speed: 800,
                    slidesPerView: 3,
                    spaceBetween: 40,
                    threshold: 5,


                    // If we need pagination
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true
                    },

                    // Navigation arrows
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev"
                    },
                    breakpoints: {
                        1180: {
                            slidesPerView: 2,
                            spaceBetween: 40,
                            centeredSlides: false,
                        },
                        799: {
                            slidesPerView: 1,
                            spaceBetween: 20,
                            centeredSlides: true,
                            loop: true,
                        },
                    }
                });

                /* Show More */

                var btnShow = document.querySelectorAll('.more');



                btnShow.forEach(function (el) {
                    el.addEventListener('click', showMore);
                });

                function showMore(event) {
                    var card = event.target.closest(".swiper-slide");

                    if (card.classList.contains('show-more')) {
                        card.classList.remove('show-more');
                    } else {
                        card.classList.add('show-more')
                    }

                }

            },
        })
    }



    function input_team_data(Data){
        if (Data.length ==0){
            console.log("랭크 데이터 없음!");
        }else{
            var arr=[]
            for(var i=0;i<Data.length;i++){
                //[{'user_name': '박정민', 'user_id': 'test1', 'post_cnt': 4, 'user_url': 'https://park-dev-diary.tistory.com/', 'rank': 1},
                // {'user_name': '전상하', 'user_id': 'test2', 'post_cnt': 3, 'user_url': 'https://study4silver.tistory.com/', 'rank': 2},
                // {'user_name': '조현지', 'user_id': 'test3', 'post_cnt': 1, 'user_url': 'https://dev-dobim.tistory.com/', 'rank': 3}]
                arr.push({rank:Data[i]['rank'],name:Data[i]['user_name'],id:Data[i]['user_id'],post_cnt:Data[i]['post_cnt'],photo:Data[i]['user_img'],website:Data[i]['user_url'],})
            }
            console.log('arr==='+JSON.stringify(arr));
        }
        return arr
    }


    function ChangeSearchDate(InputSearchDate,SelectSearchUser) {
        if (SearchDate == InputSearchDate && SearchUser == SelectSearchUser) {
            return
        }

        SearchDate = InputSearchDate;
        SearchUser = SelectSearchUser;
        show_list(SearchDate, SearchUser);
    }

    function ChangeSearchMonth(InputYearNMonth) {
        if (SearchYearNMonth == InputYearNMonth) {
            return
        }
        SearchYearNMonth = InputYearNMonth;
        show_rank(SearchYearNMonth);

    }

    ////////////스와핑
    // var swiperWrapper = document.querySelector('.swiper-wrapper');
    var swiperWrapper = $('.swiper-wrapper');
    var iWebsite = "https://rafaelalucas.com/dailyui/6/assets/link.svg";
    /* Function to populate the team members */
    function addTeam() {
        swiperWrapper.empty();
        if(team=='' | team==undefined){
            var template = `<div class="swiper-slide" style="width: 280px;margin-left: 40px;">
                <div class="card">

                    <i class="fas fa-solid fa-xmark fa-beat fa-2xl" style="color: darkred;height: 60px;"></i>

                    <article class="text">
                        <p style="margin-top: 10px;"></p>
                        <p class="name">작성된 게시물이 없습니다</p>
                    </article>


                    </div>
                </div>`
            swiperWrapper.append(template);
            return
        }
        for (let i = 0; i < team.length; i++) {

            /* Variables for the team */
            // arr.push({name:Data[i]['user_name'],id:Data[i]['user_id'],role:Data[i]['post_cnt'],photo:"",website:Data[i]['user_url']})
            var rank = team[i].rank,
                name = team[i].name,
                id = team[i].id,
                post_cnt = team[i].post_cnt,
                photo = team[i].photo,
                website = team[i].website;


            /* Template for the Team Cards */
            var template = `
                <div class="swiper-slide" style="width: 280px; margin-right: 40px;">
                <div class="card">
                    <span class="bg"></span>
<!--                    <span class="more"></span>-->
                    <figure class="photo"><img src="${photo}"></figure>
                        <article class="text">
                            <p style="margin-top: 10px;"></p>
                            <p class="name">${rank}위</p>
                            <p class="name">${name}</p>
                            <p class="role">${id}</p>
                            <p class="role">게시물 수 : ${post_cnt}</p>

                        </article>

                        <div class="social">
<!--                        <span class="pointer"></span>-->
                        <div class="icons">
                            <a class="icon" href="${website}" target="_blank" data-index="0"><img src="${iWebsite}"></a>

                            </div>
                            </div>
                    </div>
                </div>`;

            // swiperWrapper.insertAdjacentHTML('beforeend', template);
            swiperWrapper.append(template);
        }
    };


    function read_count(){
        $.ajax({
                    type: "GET",
                    url: "/api/not_read",
                    async : false,
                    data: {'user_id': user_id},
                    success: function(response) {
                        messages = response['message']
                        $('#unreadCount').text(messages.length)
                    },
                 })
    }

    read_count()


    $("#unreadMessagesIcon").on("click", function() {
            // 여기서 AJAX를 이용해 읽지 않은 메시지를 가져올 수 있습니다.
            // 예시로 임의의 메시지 목록을 만들겠습니다.
                messages = []

                $.ajax({
                    type: "GET",
                    url: "/api/not_read",
                    async : false,
                    data: {'user_id': user_id},
                    success: function(response) {
                        messages = response['message']
                    },
                 })



            // let messages = [
            //     {id: 1, content: "첫 번째 메시지"},
            //     {id: 2, content: "두 번째 메시지"}
            // ];

            // 메시지 목록을 사이드바에 추가
            let messagesList = $('#unreadMessagesList');
            messagesList.empty();

            for(let message of messages) {
                messagesList.append(`
                    <li id='message${message['_id']}'>
                        ${message['message']}
                        <button class="btn btn-sm btn-primary" onclick="markAsRead('${message['_id']}')">읽음</button>
                    </li>
                `);
            }

            // 사이드바를 보여줍니다.
            $("#messageSidebar").modal('show');
        });

    function markAsRead(messageId) {

        $.ajax({
                    type: "GET",
                    url: "/api/read",
                    async : false,
                    data: {'id': messageId},
                    success: function(response) {
                        messages = response['message']
                    },
                 })



        // 여기서 해당 메시지를 읽음 처리하는 로직을 추가할 수 있습니다.
        console.log("메시지 읽음 처리:", messageId);
        // 예시로 해당 메시지를 목록에서 삭제합니다.
        $(`#message${messageId}`).remove();
        read_count()
    }

</script>


<!-- The Modal -->
<div class="modal" id="fightingModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">응원하기</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          응원의 메시지를 작성해주세요!
          <textarea class="form-control" rows="5" id="supportMessage"></textarea>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submitSupport()">응원하기</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
        </div>
  
      </div>
    </div>
  </div>

  <!-- Support Messages Modal -->
<div class="modal" id="supportMessagesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">응원 메시지 리스트</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <!-- Here the support messages will be appended -->
                <ul id="supportMessagesList"></ul>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>


<!-- 페이지의 하단 부분에 추가 -->
<div class="modal left fade" id="messageSidebar" tabindex="-1" role="dialog" aria-labelledby="messageSidebarLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageSidebarLabel">읽지 않은 메시지</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul id="unreadMessagesList"></ul>
            </div>
        </div>
    </div>
</div>


</body>

</html>